.palavra-home {
    position: absolute;
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    color: #FFF;

}

.eficiencia {
    top: 20%;
    transform: rotate(-10deg);
    left: 75%;
}

.boas-praticas {
    top: 40%;
    transform: rotate(10deg);
    left: 20%;
}

.codigo-limpo {
    top: 25%;
    transform: rotate(-15deg);
    left: 10%;
}

.css3 {
    top: 40%;
    left: 50%;
    transform: rotate(12deg);
}

.html5 {
    top: 40%;
    left: 80%;
    transform: rotate(20deg);
}

.javascript {
    top: 10%;
    left: 60%;
    transform: rotate(10deg);
}

.acessibilidade {
    top: 30%;
    left: 25%;
    transform: rotate(10deg);
}

.responsivo {
    top: 15%;
    transform: rotate(20deg);
    left: 15%;
}

.otimizacoes {
    top: 30%;
    left: 70%;
    transform: rotate(30deg);
}

.agilidade {
    top: 10%;
    transform: rotate(30deg);
    left: 30%;
}

.design {
    top: 35%;
    left: 65%;
}