.titulo-principal{
	background-color: #107dac;
	color: #FFF;
	text-align: center;
	padding:  2.5rem;
	border-bottom: .25rem black solid;
	margin-top: auto;
	text-transform: uppercase;
}

h2{
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	font-size: 2rem;
	clear:right;
}

h3{
	font-size: 1.5rem;
	clear:both;
}

body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	margin: 0px;
	font-size: 1.2rem;
}

p {
	text-align: justify;
	font-size: .75rem;
}

blockquote {
	background-color: #005073;
	color:#F2FFFC;
	padding: 1rem;
	margin: 0px;
	border: .2rem solid black; 
	clear:both;
}

aside {
	background-color: #0000CD;
	line-height: 1;
	padding: .2rem;
	width: 15% ;
	color:#FFFFFF;
	text-align: center;
	clear:right;
	box-sizing: border-box;
	position: relative;
	top: 233px;
}
aside h1{
	font-size: 1rem;
}

main{
	float: left;
	width: 85%;
}

aside, img{
	float: right;
	text-align: justify; 
}
aside a {
	color: inherit;
}

footer {
	background-color: #000;
	color: #F2FFFC;
	clear: both;
	position: fixed;
	bottom: 0;
	width:100%;
}
body{
	margin: 0px;
}

main a {
	color: #851944;
}
ul{
	list-style-type: none;
}

.iconeRedesSociais li{
	/*Pegga e altera tag com a classe*/
	display: inline-block;
	margin:0px;
}

.icone-rodape a{
	width: 40px;
	height: 40px;
	margin: 0px;
	display: inline-block;
	text-indent: -9999px;
}
.icone-rodape li{
	display: inline-block;
}
.container{
	padding: 2rem 0;
	padding-top: 0px;
	width: 42rem;
	margin: 0 auto;
	padding-bottom: 4rem;
	box-sizing: content-box;
}

.github{
	background-image: url("Imagens/github.png");
}
.linkedin{
	background-image: url("Imagens/linkedin.png");
}
.twitter{
	background-image: url("Imagens/twitter.png");
}
.texto-direita{
	float: right;
	margin-left: .5rem;
	width: 7.5rem;
}
.texto-esquerda{
	float: left;
	margin-right: .5rem;
	width: 7.5rem;
}

.noticia li{
	background-color: #FAFFFC;
	border: solid black .4rem;
	display: inline-block;
	width: 45%;
	box-sizing: border-box;
    margin-right: .8rem;
    margin-bottom: .8rem;
}
.imagemTopo{
	position: absolute;
	top: 0px;
	right: 0px;
	box-sizing: border-box;
	border:solid black .25rem;
}
.noticia img{
	width: 100%;	
}