h1
{
font-size: (tamanho)// Informa qual o tamanho da fonte
/*
	px indicara o tamanho em pixels

	Medidas relativas:
		rem indicara o tamanho em relação com o tamanho da fonte do navegador, baseia-se na altura da fonte
		em indicara o tamanho em relação com o tamanho da fonte do elemento,  baseia-se na altura da fonte
		ch indicara o tamanho em relação com o tamanho da fonte, baseia-se na largura da fonte do caracter 0
*/

text-align: (localParaAlinhar)//Alinha o texto em determinada parte da pagina
/*	EX:	justify //Ajusta o espacamento entre eles
*		center  //Ajusta ao centro
*		left    //Ajusta a esquerda
*		right   //Ajusta a direita
*/

background-color:(corEmCodigo) //Define a cor de fundo da tag atribuida

font-family:(nomeFonte) //Define a fonte da tag

padding: (tamanho)// Responsavel por controlar o espaçamento da pagina

border: (tamanho estilo cor)//Responsavel pela borda do elemento
/*	Ex:	solid  Borda solida;
*		dotted borda pontilhada;
*		dashed borda pontilhada;
*		groove borda daora;
*		inset
*		outset
*		ridge
*/

margin:(tamanho)//Espaçamento que fica na parte exterior ao componente

width: (tamanho); //Define o comprimento do componente

height: (tamanho);//Define a altura do componente

line-height: (tamanho)//Controla o espaçamento entre as linhas de acordo com o tamanho da fonte

box-sizing: (EstiloDeBorda)//Defini como o componente de marcação irá se comportar
/*	Ex: border-box : medir largura utilizando um box como referencia;
*		Content-box
*/

display:(Modo de mostrar o componente);
/*
	block :Empilhado
	inline:Um do lado do outro *Inline nao tem tamanho configuravel
	inline-block: igual ao inline mas com tamanho configuravel;
*/

text-indent: (pixeis para deslocar);

text-transform: (Tipo de texto)
/* UpperCase
*	LoweCase
*/

background-image: (URL);

#icones-Sociais 
/* Define um id, por boas praticas utilizar apenas um id na pagina, Caso precise do mesmo 
Comportamento em outros elementos utilizar uma classe */

.icones-Sociais
/* Define uma classe */


float: (Lado para flutuar);
/*
	Retira uma tag do fluxo da pagina fazendo-a flutuar em um dos dois cantos da tela
	left ou right
*/

clear :(Lado para limpar);
/*
	Limpa floats em sua tag escolhendo o lado para limpar
*/

position: (Local para deslocar);
/*
	Desloca um elemento na pagina, Qualquer valor colocado em um position serve de referencia para os demais(Não vale para o static)
	Relative = Relativo (Prende a imagem a sua posução relativa) 
	Absolute = Sai do fluxo da tela e vira relativo a janela do navegador
	Fixed    = Deixa fixo mesmo dando scroll na tela
	Static
*/

top: (Quantidade de pixeis);
right: (Quantidade de pixeis);
left:(Quantidade de pixeis);
bottom: (Quantidade de pixeis);
/*	Aumenta 10 pixeis na parte de cima, deslocando para o ladooposto
	bastante utilizada com position
*/

border-radius: (Valor do raio de arredondamento da borda); !BETA

transform :(Altera o comportamento de um objeto);
/*
	rotate(Valor em graus)    	gira um objeto
	scale(Valor em pixeis)   	Aumenta o tamanho do objeto
	translate(Valor em pixeis)	Movimenta um objeto
	skey(Valor em pixeis)		Puxa um objeto para os lados
*/

box-shadow: (Deslocamento x px) (deslocamento y px) (Quantidade expadida para os lados px) (Estilo do shadow) (Cor);

text-shadow: (Deslocamento y px)(Deslocamento X px) (Quantidade expadida para os lados px) (Estilo do shadow) (Cor);
/*
	Estilo do shadow:
*/

opacity: (Quantidade de 1 a 0)

background-size: (Tamanho x e y);
/*
Define o tamanho do background image
*/

background-repeat: no-repeat;
/*
Define como vai ser tratada a repetição do elemento
*/
}
Prefixos de funcionalidades que ainda estão sendo desenvolvidas:
-webkit- 	:Funcionalidade nova do chrome,opera e safari, usado apenas por ele 
-moz-    	:Funcionalidade nova do mozila, usado apenas por ele 
-ms-		:Funcionalidade nova do internet explorer, usado apenas por ele 



/*
//Reset: CSS utilizado para resetar as configurações do browser, que podem alterar de acordo com o browser, Só procurar pra 
//baixarr